name: Build and Release

on:
  push:
    paths:
      - "**.c"
      - "**.h"
      - "**.feature"
      - "Kconfig"
      - ".github/workflows/build-and-release.yaml"
      - "west.yml"
      - "*.conf"
  repository_dispatch:
    types:
      - source-update
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
  LOCATION: ${{ secrets.LOCATION }}
  APP_NAME: ${{ secrets.APP_NAME }}
  RESOURCE_GROUP: ${{ secrets.RESOURCE_GROUP }}
  AZURE_IOT_HUB_DPS_ID_SCOPE: ${{ secrets.AZURE_IOT_HUB_DPS_ID_SCOPE }}
  CI: 1
  FORCE_COLOR: 3

jobs:
  # This generates a unique build id (which is also different for re-runs) to
  # be used in the artifact names to be able to distinguish them when
  # downloading the artifact files.
  build-id:
    name: Generate build ID
    runs-on: ubuntu-latest
    outputs:
      id: ${{ steps.id.outputs.id }}
    steps:
      - name: Generate build ID
        id: id
        run: |
          ID=`uuidgen`
          echo "::set-output name=id::${ID}"

  release-version:
    name: Determine next release version

    runs-on: ubuntu-latest

    outputs:
      nextRelease: ${{ steps.version.outputs.nextRelease }}

    steps:
      - uses: actions/checkout@v2

      - name: Determine next release version
        uses: nordicsemiconductor/cloud-get-next-version-action@saga
        id: version
        with:
          branch: saga
          defaultVersion: "0.0.0-development"

      - run: echo ${{ steps.version.outputs.nextRelease }}

  build:
    runs-on: ubuntu-latest

    needs: [release-version]

    strategy:
      matrix:
        board: [thingy91_nrf9160_ns, nrf9160dk_nrf9160_ns]
        loglevel: [debug, nodebug]

    steps:
      - uses: actions/checkout@v2
        with:
          path: firmware

      - name: Configure Version
        run: |
          APP_VERSION=${{ needs.release-version.outputs.nextRelease }}-${{ matrix.board }}-${{ matrix.loglevel }}
          echo "CONFIG_ASSET_TRACKER_V2_APP_VERSION=\"${APP_VERSION}\"" >> firmware/firmware.conf

      - name: Configure the Azure IoT DPS ID scope
        run: |
          echo "CONFIG_AZURE_IOT_HUB_DPS_ID_SCOPE=\"${AZURE_IOT_HUB_DPS_ID_SCOPE}\"" >> firmware/firmware.conf

      - run: cat firmware/firmware.conf

      - name: Pull Docker image
        run: docker pull coderbyheart/fw-nrfconnect-nrf-docker:main

      - name: Build with debug enabled
        if: matrix.loglevel == 'debug'
        run: |
          docker run --rm -v ${PWD}:/workdir/project coderbyheart/fw-nrfconnect-nrf-docker:main /bin/bash -c 'cd firmware && west init -l && west update --narrow -o=--depth=1 && west build -p always -b ${{ matrix.board }} -- -DOVERLAY_CONFIG="overlay-azure.conf;overlay-pgps.conf;overlay-debug.conf;asset-tracker-cloud-firmware-azure.conf;firmware.conf" -DEXTRA_CFLAGS="-Werror=format-truncation"'

      - name: Build with debug disabled
        if: matrix.loglevel != 'debug'
        run: |
          docker run --rm -v ${PWD}:/workdir/project coderbyheart/fw-nrfconnect-nrf-docker:main /bin/bash -c 'cd firmware && west init -l && west update --narrow -o=--depth=1 && west build -p always -b ${{ matrix.board }} -- -DOVERLAY_CONFIG="overlay-azure.conf;overlay-pgps.conf;asset-tracker-cloud-firmware-azure.conf;firmware.conf" -DEXTRA_CFLAGS="-Werror=format-truncation"'

      - name: Copy firmware
        run: |
          cp firmware/build/zephyr/merged.hex ./
          cp firmware/build/zephyr/app_signed.hex ./
          cp firmware/build/zephyr/app_update.bin ./
          cp firmware/firmware.conf ./firmware.conf

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.board }}-${{ matrix.loglevel }}-${{ github.sha }}
          path: |
            merged.hex
            app_signed.hex
            app_update.bin
            firmware.conf

  e2e-credentials:
    name: Create device credentials for end-to-end test
    runs-on: ubuntu-latest

    needs: [build-id]

    strategy:
      matrix:
        board: [nrf9160dk_nrf9160_ns]
        network: [ltem]

    steps:
      - name: Generate device ID
        run: |
          DEVICE_ID=`uuidgen | cut -d- -f1`
          echo "DEVICE_ID=${DEVICE_ID}" >> $GITHUB_ENV

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: List Azure accounts
        run: az account list --output table

      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"

      - uses: actions/checkout@v2

      - name: Clone nRF Asset Tracker for Azure
        run: |
          git clone `cat package.json | jq -r '.cloud.repository'` cloud

      - name: Install dependencies
        run: |
          cd cloud
          npm ci

      - name: Compile TypeScript
        run: |
          cd cloud
          npx tsc

      - name: Keep CA certificates around
        uses: actions/cache@v2
        id: certs-cache
        with:
          path: cloud/certificates
          key: certificates

      - name: Create Intermediate CA certificate
        if: steps.certs-cache.outputs.cache-hit != 'true'
        run: |
          cd cloud  
          node cli create-ca-root
          node cli proof-ca-root-possession
          node cli create-ca-intermediate

      - name: Create device credentials
        run: |
          cd cloud
          node cli create-simulator-cert -d ${{ env.DEVICE_ID }}

      - name: Copy credentials
        run: |
          mkdir e2e-credentials
          cp cloud/certificates/*/device-${{ env.DEVICE_ID }}* e2e-credentials

      - uses: actions/upload-artifact@v2
        with:
          name:
            e2e-credentials-${{ matrix.board }}-${{ needs.build-id.outputs.id }}
          path: |
            e2e-credentials/*

      - name: Remove device certificates
        run: rm -vf ./cloud/certificates/*/device*

  e2e-firmware:
    name: Build firmware for end-to-end test
    runs-on: ubuntu-latest

    needs: [e2e-credentials, build-id]

    strategy:
      matrix:
        board: [nrf9160dk_nrf9160_ns]
        network: [ltem]

    steps:
      - uses: actions/checkout@v2
        with:
          path: firmware

      - uses: actions/download-artifact@v2
        with:
          name:
            e2e-credentials-${{ matrix.board }}-${{ needs.build-id.outputs.id }}
          path: e2e-credentials

      - name: Set device id
        run: |
          echo "DEVICE_ID=`find e2e-credentials -name \*.json | head -n 1 | xargs cat | jq -r '.clientId'`" >> $GITHUB_ENV

      - name: Configure Version
        id: configure-version
        env:
          APP_VERSION:
            ${{ github.sha }}-${{ matrix.board }}-${{ env.DEVICE_ID }}
        run: |
          echo "CONFIG_ASSET_TRACKER_V2_APP_VERSION=\"${APP_VERSION}-original\"" >> firmware/firmware.conf

      - name: Disable GPS
        run: echo "CONFIG_GNSS_MODULE=n" >> firmware/firmware.conf

      - name: Disable nRF Cloud Assisted GPS
        run: |
          echo "CONFIG_AGPS=n" >> firmware/firmware.conf
          echo "CONFIG_AGPS_SRC_NRF_CLOUD=n" >> firmware/firmware.conf

      - name: Configure the Azure IoT DPS ID scope
        run: |
          echo "CONFIG_AZURE_IOT_HUB_DPS_ID_SCOPE=\"${AZURE_IOT_HUB_DPS_ID_SCOPE}\"" >> firmware/firmware.conf

      - name: Set MQTT client ID to test device
        run: |
          echo "CONFIG_CLOUD_CLIENT_ID_USE_CUSTOM=y" >> firmware/firmware.conf
          echo "CONFIG_CLOUD_CLIENT_ID=\"${{ env.DEVICE_ID }}\"" >> firmware/firmware.conf

      - run: cat firmware/firmware.conf

      - name: Pull Docker image
        run: docker pull coderbyheart/fw-nrfconnect-nrf-docker:main

      - name: Build
        run: |
          docker run --rm -v ${PWD}:/workdir/project coderbyheart/fw-nrfconnect-nrf-docker:main /bin/bash -c 'cd firmware && west init -l && west update --narrow -o=--depth=1 && west build -p always -b ${{ matrix.board }} -- -DOVERLAY_CONFIG="overlay-azure.conf;overlay-debug.conf;asset-tracker-cloud-firmware-azure.conf;firmware.conf" -DEXTRA_CFLAGS="-Werror=format-truncation"'
          cp firmware/build/zephyr/merged.hex firmware.hex
          cp firmware/build/zephyr/app_update.bin firmware.bin
          cp firmware/firmware.conf firmware.conf

      - name: Build with changed version for FOTA test
        env:
          APP_VERSION:
            ${{ github.sha }}-${{ matrix.board }}-${{ env.DEVICE_ID }}
        run: |
          echo "CONFIG_ASSET_TRACKER_V2_APP_VERSION=\"${{ env.APP_VERSION }}-upgraded\"" >> firmware/firmware.conf
          docker run --rm -v ${PWD}:/workdir/project coderbyheart/fw-nrfconnect-nrf-docker:main /bin/bash -c 'cd firmware && west build -p always -b ${{ matrix.board }} -- -DOVERLAY_CONFIG="overlay-azure.conf;overlay-debug.conf;asset-tracker-cloud-firmware-azure.conf;firmware.conf" -DEXTRA_CFLAGS="-Werror=format-truncation"'
          cp firmware/build/zephyr/app_update.bin fota-upgrade.bin
          cp firmware/build/zephyr/merged.hex fota-upgrade.hex
          cp firmware/firmware.conf fota-upgrade.conf

      - uses: actions/upload-artifact@v2
        with:
          name:
            e2e-firmware-${{ matrix.board }}-${{ needs.build-id.outputs.id }}
          path: |
            firmware.hex
            firmware.bin
            firmware.conf
            fota-upgrade.hex
            fota-upgrade.bin
            fota-upgrade.conf

  e2e-device:
    name: Run the firmware for the end-to-end tests on a real device
    runs-on: [self-hosted, firmware-ci]

    needs:
      - e2e-firmware
      - e2e-credentials
      - build-id
      # Wait for build step here, otherwise entire workflow will not pass, so running the expensive e2e test is pointless
      - build

    outputs:
      connected: ${{ steps.device.outputs.connected }}

    strategy:
      matrix:
        board: [nrf9160dk_nrf9160_ns]
        network: [ltem]

    steps:
      - uses: actions/download-artifact@v2
        with:
          name:
            e2e-firmware-${{ matrix.board }}-${{ needs.build-id.outputs.id }}

      - uses: actions/download-artifact@v2
        with:
          name:
            e2e-credentials-${{ matrix.board }}-${{ needs.build-id.outputs.id }}
          path:
            e2e-credentials-${{ matrix.board }}-${{ needs.build-id.outputs.id }}

      - name: Set device id
        run: |
          echo "DEVICE_ID=`find e2e-credentials-${{ matrix.board }}-${{
            needs.build-id.outputs.id }} -name \*.json | head -n 1 | xargs cat | jq -r '.clientId'`" >> $GITHUB_ENV

      - name: Run firmware on real device
        uses: NordicSemiconductor/cloud-azure-firmware-ci-device-action@saga
        # For now, ignore test failures until we get more experience running these tests
        continue-on-error: true
        id: device
        env:
          APP_VERSION:
            ${{ github.sha }}-${{ matrix.board }}-${{ env.DEVICE_ID }}
        with:
          device id: ${{ env.DEVICE_ID }}
          app version: ${{ env.APP_VERSION }}
          azure credentials: ${{ secrets.AZURE_CREDENTIALS }}
          azure location: ${{ secrets.LOCATION }}
          azure resource group: ${{ secrets.RESOURCE_GROUP }}
          storage account name: ${{ secrets.STORAGE_ACCOUNT_NAME }}
          app name: ${{ secrets.APP_NAME }}
          hex file: firmware.hex
          fota file: fota-upgrade.bin
          abort on: |
            azure_fota: Error (-7) when trying to start firmware download
            azure_iot_integration: azure_iot_hub_init, error
          end on: |
            azure_iot_hub_integration.cloud_wrap_init:  Version:      ${{ env.APP_VERSION }}-upgraded
            cloud_module.data_send: Data sent
          timeout in minutes: 20
          sec tag: 11
          certificate location:
            ./e2e-credentials-${{ matrix.board }}-${{ needs.build-id.outputs.id
            }}
          target: ${{ matrix.board }}
          powerCycle enabled: false

      - uses: actions/upload-artifact@v2
        with:
          name: e2e-run-${{ matrix.board }}-${{ needs.build-id.outputs.id }}
          path: |
            device.log
            flash.log
            job.json
            e2e-credentials-${{ matrix.board }}-${{
            needs.build-id.outputs.id }}
            firmware.hex
            fota-upgrade.bin

  e2e-tests:
    name: Run the end-to-end test
    runs-on: ubuntu-latest

    needs: [e2e-firmware, e2e-device, build-id]

    if: needs.e2e-device.outputs.connected == 'true'

    strategy:
      matrix:
        board: [nrf9160dk_nrf9160_ns]
        network: [ltem]

    steps:
      - uses: actions/checkout@v2

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - uses: actions/download-artifact@v2
        with:
          name:
            e2e-credentials-${{ matrix.board }}-${{ needs.build-id.outputs.id }}
          path:
            e2e-credentials-${{ matrix.board }}-${{ needs.build-id.outputs.id }}

      - uses: actions/download-artifact@v2
        with:
          name: e2e-run-${{ matrix.board }}-${{ needs.build-id.outputs.id }}
          path: e2e-run-${{ matrix.board }}-${{ needs.build-id.outputs.id }}

      - name: Set device id
        run: |
          echo "DEVICE_ID=`find e2e-credentials-${{ matrix.board }}-${{
            needs.build-id.outputs.id }} -name \*.json | head -n 1 | xargs cat | jq -r '.clientId'`" >> $GITHUB_ENV

      - name: Run feature tests
        uses: NordicSemiconductor/cloud-azure-firmware-ci-feature-runner-action@saga
        # For now, ignore test failures until we get more experience running these tests
        continue-on-error: true
        env:
          APP_VERSION:
            ${{ github.sha }}-${{ matrix.board }}-${{ env.DEVICE_ID }}
        with:
          device id: ${{ env.DEVICE_ID }}
          app version: ${{ env.APP_VERSION }}
          azure credentials: ${{ secrets.AZURE_CREDENTIALS }}
          azure location: ${{ secrets.LOCATION }}
          azure resource group: ${{ secrets.RESOURCE_GROUP }}
          azure iot hub dps id scope: ${{ secrets.AZURE_IOT_HUB_DPS_ID_SCOPE }}
          app name: ${{ secrets.APP_NAME }}
          feature dir: features
          log dir: e2e-run-${{ matrix.board }}-${{ needs.build-id.outputs.id }}
          target: ${{ matrix.board }}

      - name: Enable Azure auto-install
        run: az config set extension.use_dynamic_install=yes_without_prompt

      - name: Remove test device
        if:
          ${{ !contains(toJSON(github.event.commits.*.message),
          '[skip-cleanup]') }}
        continue-on-error: true
        run: |
          az iot hub device-identity delete --device-id ${{ env.DEVICE_ID }} --hub-name ${{ secrets.RESOURCE_GROUP }}IotHub

  release:
    name: Release
    runs-on: ubuntu-latest
    if:
      github.ref == 'refs/heads/saga' && (github.event_name == 'push' ||
      github.event_name == 'workflow_dispatch' || github.event_name ==
      'repository_dispatch')

    needs: [build, e2e-tests]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2

      - run: npx semantic-release
