name: Build and Release

on:
  push:
    paths:
      - "**.c"
      - "**.h"
      - "**.feature"
      - "Kconfig"
      - ".github/workflows/build-and-release.yaml"
      - "Dockerfile"
      - "west.yml"
      - "*.conf"
  repository_dispatch:
    types:
      - source-update
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CR_PAT: ${{ secrets.CR_PAT }}

jobs:
  docker:
    name: Prepare Docker image
    runs-on: ubuntu-latest
    outputs:
      docker_image: ${{ steps.docker-image-tag.outputs.docker_image }}
    env:
      SUPL_CLIENT_LIB_DOWNLOAD: ${{ secrets.SUPL_CLIENT_LIB_DOWNLOAD }}
    steps:
      - uses: actions/checkout@v2

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Determine Docker image name and tag
        id: docker-image-tag
        run: |
          DOCKER_REPO_NAME=`echo ${GITHUB_REPOSITORY} | tr '[:upper:]' '[:lower:]'`
          cat Dockerfile west.yml > .docker-checksum
          echo $SUPL_CLIENT_LIB_DOWNLOAD >> .docker-checksum
          DOCKER_CHECKSUM=`sha256sum .docker-checksum | awk '{ print $1 }' | tr -d '\n'`
          DOCKER_IMAGE=ghcr.io/${DOCKER_REPO_NAME}-builder:${DOCKER_CHECKSUM}
          echo "::set-output name=docker_image::${DOCKER_IMAGE}"
          echo "DOCKER_IMAGE=${DOCKER_IMAGE}" >> $GITHUB_ENV

      - name: Check if Docker image exists
        id: check-docker-image
        continue-on-error: true
        env:
          DOCKER_CLI_EXPERIMENTAL: enabled
        run: docker manifest inspect ${{ env.DOCKER_IMAGE }}

      - name: Build Docker image
        if: steps.check-docker-image.outcome == 'failure'
        uses: docker/build-push-action@v2
        with:
          build-args: |
            SUPL_CLIENT_LIB_DOWNLOAD
          context: .
          tags: ${{ env.DOCKER_IMAGE }}
          push: true

  build:
    runs-on: ubuntu-latest

    needs: [docker]

    strategy:
      matrix:
        board: [thingy91_nrf9160ns, nrf9160dk_nrf9160ns]
        network: [nbiot, ltem]
        loglevel: [debug, nodebug]

    env:
      SUPL_CLIENT_LIB_DOWNLOAD: ${{ secrets.SUPL_CLIENT_LIB_DOWNLOAD }}

    steps:
      - uses: actions/checkout@v2

      - name: Determine next release version
        uses: nordicsemiconductor/cloud-get-next-version-action@saga
        id: version
        with:
          branch: saga
          defaultVersion: "0.0.0-development"

      - name: Configure Version
        run: |
          APP_VERSION=${{ steps.version.outputs.nextRelease }}-${{ matrix.board }}-${{ matrix.network }}-${{ matrix.loglevel }}
          echo "CONFIG_ASSET_TRACKER_V2_APP_VERSION=\"${APP_VERSION}\"" >> prj.conf

      - name: Enable debug logs
        if: matrix.loglevel == 'debug'
        run: echo "CONFIG_LOG_MAX_LEVEL=4" >> prj.conf

      - name: Set network mode to NB-IoT
        if: matrix.network == 'nbiot'
        run: |
          sed -i s/CONFIG_LTE_NETWORK_MODE_LTE_M_GPS=y/CONFIG_LTE_NETWORK_MODE_LTE_M_GPS=n/ prj.conf
          echo "CONFIG_LTE_NETWORK_MODE_NBIOT_GPS=y" >> prj.conf

      - name: Configure the Azure IoT DPS hostname
        env:
          AZURE_IOT_HUB_DPS_HOSTNAME: ${{ secrets.AZURE_IOT_HUB_DPS_HOSTNAME }}
          AZURE_IOT_HUB_DPS_ID_SCOPE: ${{ secrets.AZURE_IOT_HUB_DPS_ID_SCOPE }}
        run: |
          cat prj.conf | sed 's/CONFIG_AWS_/# CONFIG_AWS_/' | sed 's/# CONFIG_AZURE_/CONFIG_AZURE_/' > azure.prj.conf
          mv azure.prj.conf prj.conf
          echo "CONFIG_AZURE_IOT_HUB_DPS_HOSTNAME=\"${AZURE_IOT_HUB_DPS_HOSTNAME}\"" >> prj.conf
          echo "CONFIG_AZURE_IOT_HUB_DPS_ID_SCOPE=\"${AZURE_IOT_HUB_DPS_ID_SCOPE}\"" >> prj.conf

      - name: Enable SUPL client
        if: env.SUPL_CLIENT_LIB_DOWNLOAD != ''
        run: |
          echo "CONFIG_SUPL_CLIENT_LIB=y" >> prj.conf
          echo "CONFIG_AGPS=y" >> prj.conf
          echo "CONFIG_AGPS_SRC_SUPL=y" >> prj.conf
          echo "CONFIG_FPU=y" >> prj.conf

      - run: cat prj.conf

      - name: Enable Azure settings in overlay-debug.conf
        run: |
          cat overlay-debug.conf | sed 's/CONFIG_AWS_/# CONFIG_AWS_/' | sed 's/# CONFIG_AZURE_/CONFIG_AZURE_/' > azure.overlay-debug.conf
          mv azure.overlay-debug.conf overlay-debug.conf
          cat overlay-debug.conf

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Pull Docker image
        run: docker pull ${{ needs.docker.outputs.docker_image }}

      - name: Build with debug enabled
        if: matrix.loglevel == 'debug'
        run: |
          docker run --rm -v ${PWD}:/workdir/ncs/firmware ${{ needs.docker.outputs.docker_image }} /bin/bash -c 'cd ncs/firmware && west update && west build -p always -b ${{ matrix.board }} -- -DOVERLAY_CONFIG="overlay-debug.conf;asset-tracker-cloud-firmware-azure.conf"'

      - name: Build with debug disabled
        if: matrix.loglevel != 'debug'
        run: |
          docker run --rm -v ${PWD}:/workdir/ncs/firmware ${{ needs.docker.outputs.docker_image }} /bin/bash -c 'cd ncs/firmware && west update && west build -p always -b ${{ matrix.board }} -- -DOVERLAY_CONFIG=asset-tracker-cloud-firmware-azure.conf'

      - name: Copy firmware
        run: |
          cp build/zephyr/merged.hex ./
          cp build/zephyr/app_update.bin ./

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.board }}-${{ matrix.network }}-${{ matrix.loglevel }}
          path: |
            merged.hex
            app_update.bin
            prj.conf

  e2e:
    name: End to End tests
    runs-on: ubuntu-latest

    needs: [docker]

    strategy:
      matrix:
        board: [nrf9160dk_nrf9160ns]
        network: [ltem]

    env:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      LOCATION: ${{ secrets.LOCATION }}
      APP_NAME: ${{ secrets.APP_NAME }}
      RESOURCE_GROUP: ${{ secrets.RESOURCE_GROUP }}
      DEVICE_ID: ${{ secrets.DEVICE_ID }}
      AZURE_IOT_HUB_DPS_HOSTNAME: ${{ secrets.AZURE_IOT_HUB_DPS_HOSTNAME }}
      AZURE_IOT_HUB_DPS_ID_SCOPE: ${{ secrets.AZURE_IOT_HUB_DPS_ID_SCOPE }}
      CI: 1
      FORCE_COLOR: 3

    steps:
      - uses: actions/checkout@v2

      - name: Generate Job ID
        run: |
          JOB_ID=`uuidgen`
          echo "JOB_ID=${JOB_ID}" >> $GITHUB_ENV

      - name: Configure Version
        run: |
          APP_VERSION=${{ github.sha }}-${{ matrix.board }}-${{ matrix.network }}-${JOB_ID}
          echo "APP_VERSION=${APP_VERSION}" >> $GITHUB_ENV
          echo "CONFIG_ASSET_TRACKER_V2_APP_VERSION=\"${APP_VERSION}-original\"" >> prj.conf

      - run: echo "# Firmware CI settings" >> prj.conf

      - name: Enable debug logs
        run: echo "CONFIG_LOG_MAX_LEVEL=4" >> prj.conf

      - name: Set network mode to LTE-m
        run: |
          sed -i s/CONFIG_LTE_NETWORK_MODE_NBIOT_GPS=y/CONFIG_LTE_NETWORK_MODE_LTE_M_GPS=y/ prj.conf

      - name: Configure the Azure IoT DPS hostname
        run: |
          cat prj.conf | sed 's/CONFIG_AWS_/# CONFIG_AWS_/' | sed 's/# CONFIG_AZURE_/CONFIG_AZURE_/' > azure.prj.conf
          mv azure.prj.conf prj.conf
          echo "CONFIG_AZURE_IOT_HUB_DPS_HOSTNAME=\"${AZURE_IOT_HUB_DPS_HOSTNAME}\"" >> prj.conf
          echo "CONFIG_AZURE_IOT_HUB_DPS_ID_SCOPE=\"${AZURE_IOT_HUB_DPS_ID_SCOPE}\"" >> prj.conf

      - name: Set MQTT client ID to test device
        run: |
          echo "CONFIG_CLOUD_CLIENT_ID_USE_CUSTOM=y" >> prj.conf
          echo "CONFIG_AZURE_IOT_HUB_DEVICE_ID_MAX_LEN=40" >> prj.conf
          echo "CONFIG_CLOUD_CLIENT_ID=\"${JOB_ID}\"" >> prj.conf

      - name: Disable sampling of GPS after connection
        ## so device information is published quicker
        run: CONFIG_APP_REQUEST_GPS_ON_INITIAL_SAMPLING=n >> prj.conf

      - run: cat prj.conf

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Pull Docker image
        run: docker pull ${{ needs.docker.outputs.docker_image }}

      - name: Build
        run: |
          docker run --rm -v ${PWD}:/workdir/ncs/firmware ${{ needs.docker.outputs.docker_image }} /bin/bash -c 'cd ncs/firmware && west update && west build -p always -b ${{ matrix.board }} -- -DOVERLAY_CONFIG="overlay-debug.conf;asset-tracker-cloud-firmware-azure.conf"'
          cp build/zephyr/merged.hex firmware.hex
          cp prj.conf firmware.conf

      - name: Build with changed version for FOTA test
        run: |
          echo "CONFIG_ASSET_TRACKER_V2_APP_VERSION=\"${APP_VERSION}-upgraded\"" >> prj.conf
          docker run --rm -v ${PWD}:/workdir/ncs/firmware ${{ needs.docker.outputs.docker_image }} /bin/bash -c 'cd ncs/firmware && west update && west build -p always -b ${{ matrix.board }} -- -DOVERLAY_CONFIG="overlay-debug.conf;asset-tracker-cloud-firmware-azure.conf"'
          cp build/zephyr/app_update.bin fota-upgrade.bin
          cp prj.conf fota-upgrade.conf

      - name: Keep certificates around
        uses: actions/cache@v2
        with:
          path: ./certificates
          key: certificates-2020-01-20

      - name: Schedule Firmware CI job
        uses: NordicSemiconductor/cloud-azure-firmware-ci-schedule-action@saga
        id: schedule
        with:
          job id: ${{ env.JOB_ID }}
          app version: ${{ env.APP_VERSION }}
          azure credentials: ${{ secrets.AZURE_CREDENTIALS }}
          azure location: ${{ secrets.LOCATION }}
          azure resource group: ${{ secrets.RESOURCE_GROUP }}
          app name: ${{ secrets.APP_NAME }}
          azure iothub dps hostname: ${{ secrets.AZURE_IOT_HUB_DPS_HOSTNAME }}
          azure iothub dps id scope: ${{ secrets.AZURE_IOT_HUB_DPS_ID_SCOPE }}
          firmware ci device id: ${{ secrets.DEVICE_ID }}
          hex file: firmware.hex
          fota file: fota-upgrade.bin
          abort on: |
            azure_fota: Error (-7) when trying to start firmware download
          end on: |
            azure_iot_hub_integration.cloud_wrap_init:  Version:     ${{ env.APP_VERSION }}-upgraded
            "appV"
            "${{ env.APP_VERSION }}-upgraded"
            cloud_module.data_send: Data sent
          timeout in minutes: 20

      - name: Run feature tests
        uses: NordicSemiconductor/cloud-azure-firmware-ci-feature-runner-action@saga
        # For now, ignore test failures until we get more experience running these tests
        continue-on-error: true
        with:
          job id: ${{ env.JOB_ID }}
          app version: ${{ env.APP_VERSION }}
          azure credentials: ${{ secrets.AZURE_CREDENTIALS }}
          azure location: ${{ secrets.LOCATION }}
          azure resource group: ${{ secrets.RESOURCE_GROUP }}
          app name: ${{ secrets.APP_NAME }}
          azure iothub dps hostname: ${{ secrets.AZURE_IOT_HUB_DPS_HOSTNAME }}
          azure iothub dps id scope: ${{ secrets.AZURE_IOT_HUB_DPS_ID_SCOPE }}
          feature dir: features

      - name: Remove test device
        # If the device did not connect, no Thing will have been created
        if:
          steps.schedule.outputs.connected == 'true' &&
          !contains(toJSON(github.event.commits.*.message), '[skip-cleanup]')
        run: |
          echo "Not implemented"

      - uses: actions/upload-artifact@v2
        with:
          name: end-to-end-test-${{ github.sha }}
          path: |
            firmware.hex
            firmware.conf
            fota-upgrade.bin
            fota-upgrade.conf
            certificates/*/device-${JOB_ID}*
            fotaJobDocument.json
            jobDocument.json
            report.json

      - name: Remove device certificates
        run: rm -v ./certificates/*/device-*

  release:
    name: Release
    runs-on: ubuntu-latest
    if:
      github.ref == 'refs/heads/saga' && (github.event_name == 'push' ||
      github.event_name == 'workflow_dispatch' || github.event_name ==
      'repository_dispatch')

    needs: [build, e2e]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2

      - run: npx semantic-release
